# Compiler files
cache/
out/
zkout/
broadcast/*
broadcast/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Snapshot files
.gas-snapshot